<h2 class="material__header h2">MATERIAL</h2>
<p class="material__subheader h3">choice of materials for quality furniture.</p>
<p class="material__text"
  >You can custom the material as desired. And our furniture uses the best materials and selected quality materials.</p
>
<a class="material__btn button button--border" href="#">See Materials</a>
<div class="material__inner">
  <div class="material__img-left">
    <picture>
      <source
        type="image/webp"
        srcset="/assets/images/home/material.webp 1x, /assets/images/home/material@2x.webp 2x"
      />
      <img
        class="material__img"
        src="/assets/images/home/material.jpg"
        alt="Material types"
        srcset="/assets/images/home/material@2x.jpg 2x"
        width="342"
        height="392"
      />
    </picture>
  </div>
  <div class="material__img-top">
    <picture>
      <source type="image/webp" srcset="/assets/images/home/master.webp 1x, /assets/images/home/master@2x.webp 2x" />
      <img
        class="material__img"
        src="/assets/images/home/master.jpg"
        alt="The master makes the table"
        srcset="/assets/images/home/master@2x.jpg 2x"
        width="241"
        height="225"
      />
    </picture>
  </div>
  <div class="material__img-bottom">
    <picture>
      <source type="image/webp" srcset="/assets/images/home/pebble.webp 1x, /assets/images/home/pebble@2x.webp 2x" />
      <img
        class="material__img"
        src="/assets/images/home/pebble.jpg"
        alt="Pebbles and mosaic"
        srcset="/assets/images/home/pebble@2x.jpg 2x"
        width="195"
        height="178"
      />
    </picture>
  </div>
</div>
