<h2 class="customization__header h2">ACHIEVEMENT</h2>
<p class="customization__subheader h3">interior customization with Dananz, best quality with professional workers</p>
<div class="customization__inner">
  <picture>
    <source
      type="image/webp"
      srcset="/assets/images/about/customization.webp 1x, /assets/images/about/customization@2x.webp 2x"
    />
    <img
      class="customization__img"
      src="/assets/images/about/customization.jpg"
      alt="Dining room interior customization"
      srcset="/assets/images/about/customization@2x.jpg"
      width="883"
      height="525"
    />
  </picture>
  <div class="customization__statistics statistics">
    <ul class="statistics__list">
      <li class="statistics__item">
        <span class="statistics__value">350+</span>
        <span class="statistics__attribute">Project Completed</span>
      </li>
      <li class="statistics__item">
        <span class="statistics__value">23+</span>
        <span class="statistics__attribute">Professional Teams</span>
      </li>
      <li class="statistics__item">
        <span class="statistics__value">15+</span>
        <span class="statistics__attribute">Years Experience</span>
      </li>
    </ul>
  </div>
</div>
