{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": ["prettier-plugin-organize-attributes"],
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "lf",
  "singleAttributePerLine": false,
  "attributeGroups": [
    "$ANGULAR_STRUCTURAL_DIRECTIVE",
    "$ANGULAR_ELEMENT_REF",
    "$ID",
    "$CLASS",
    "$NAME",
    "$ROLE",
    "$TYPE",
    "$SRC",
    "$HREF",
    "$FOR",
    "$TITLE",
    "$ALT",
    "$DATA",
    "$ARIA",
    "$DEFAULT",
    "$VALUE",
    "$ANGULAR_ANIMATION",
    "$ANGULAR_ANIMATION_INPUT",
    "$ANGULAR_INPUT",
    "$ANGULAR_TWO_WAY_BINDING",
    "$ANGULAR_OUTPUT"
  ]
}
