{
  "customSyntax": "postcss-scss",
  "defaultSeverity": "error",
  "extends": ["stylelint-config-recommended", "stylelint-config-property-sort-order-smacss"],
  "plugins": ["stylelint-order"],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "extend",
          "include",
          "mixin",
          "function",
          "if",
          "return",
          "each",
          "for",
          "else",
          "at-root",
          "use",
          "forward",
          "error"
        ]
      }
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": [
          "ng-deep"
        ]
      }
    ],
    "selector-pseudo-element-disallowed-list": ["ng-deep"],
    "no-empty-source": null,
    "block-no-empty": null,
    "property-no-unknown": null,
    "no-duplicate-selectors": null,
    "no-descending-specificity": null,
    "selector-type-no-unknown": null,
    "font-family-no-missing-generic-family-keyword": null,
    "unit-allowed-list": [
      "em",
      "rem",
      "s",
      "px",
      "%",
      "vw",
      "vh",
      "deg",
      "fr",
      "ms"
    ]
  }
}
