<div class="footer__container">
  <div class="footer__inner">
    <a class="footer__link" routerLink="/">
      <svg class="footer__logo" aria-hidden="true" width="126" height="54" viewBox="0 0 126 54" focusable="false">
        <use xlink:href="/assets/images/svg/sprite.svg#logo"></use>
      </svg>
    </a>
    <h2 class="footer__header h3">one of the best furniture agency.</h2>
  </div>
  <div class="footer__inner">
    <form class="footer__form" action="" method="post">
      <label class="footer__form__field">
        <span class="footer__form__label">Enter your email to get the latest news</span>
        <input
          id="applicant-email"
          class="footer__form__control"
          name="applicant-email"
          type="email"
          placeholder="Email Address"
        />
      </label>
      <button class="footer__form__btn" type="submit">
        <span class="visually-hidden">Submit</span>
        <svg aria-hidden="true" width="26" height="12" viewBox="0 0 26 12" focusable="false">
          <use xlink:href="/assets/images/svg/sprite.svg#half-arrow"></use>
        </svg>
      </button>
    </form>
    <div class="footer__social social">
      <p class="social__text">Follow us On</p>
      <ul class="social__list">
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">
            <span class="visually-hidden">Facebook</span>
            <svg class="social__icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" focusable="false">
              <use xlink:href="/assets/images/svg/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">
            <span class="visually-hidden">Instagram</span>
            <svg class="social__icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" focusable="false">
              <use xlink:href="/assets/images/svg/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">
            <span class="visually-hidden">Tiktok</span>
            <svg class="social__icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" focusable="false">
              <use xlink:href="/assets/images/svg/sprite.svg#tiktok"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">
            <span class="visually-hidden">Youtube</span>
            <svg class="social__icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" focusable="false">
              <use xlink:href="/assets/images/svg/sprite.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
