@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mix;

:host {
  display: block;
  padding: 38px 40px;
  background-color: var.$primary;
}

.subs {
  display: flex;
  align-items: center;
  @include mix.container;

  &__header {
    max-width: 613px;
    margin-right: 155px;
    color: var.$on-primary-neutral;
  }

  &__inner {
    align-self: flex-start;
  }

  &__text {
    margin-bottom: 20px;
    color: var.$on-primary-light;
    text-transform: capitalize;
  }

  &__btn {
    max-width: 142px;
  }
}
