<h2 class="achievement__header h2">ACHIEVEMENT</h2>
<ul class="achievement__list">
  <li class="achievement__item">
    <picture>
      <source
        type="image/webp"
        srcset="/assets/images/services/restroom.webp 1x, /assets/images/services/restroom@2x.webp 2x"
      />
      <img
        class="achievement__img"
        src="/assets/images/services/restroom.jpg"
        alt="Restroom design"
        srcset="/assets/images/services/restroom@2x.jpg 2x"
        width="746"
        height="365"
      />
    </picture>
    <div class="achievement__inner">
      <span class="achievement__name">Interior design</span>
      <p class="achievement__text"
        >Customize your interior design into a dream place with the best designers and quality furniture. We try our
        best to fulfill your expectations.</p
      >
    </div>
  </li>
  <li class="achievement__item">
    <picture>
      <source
        type="image/webp"
        srcset="/assets/images/services/consultants.webp 1x, /assets/images/services/consultants@2x.webp 2x"
      />
      <img
        class="achievement__img"
        src="/assets/images/services/consultants.jpg"
        alt="Consultants"
        srcset="/assets/images/services/consultants@2x.jpg 2x"
        width="746"
        height="365"
      />
    </picture>
    <div class="achievement__inner">
      <span class="achievement__name">Consultant</span>
      <p class="achievement__text"
        >Customize your interior design into a dream place with the best designers and quality furniture. We try our
        best to fulfill your expectations.</p
      >
    </div>
  </li>
  <li class="achievement__item">
    <picture>
      <source
        type="image/webp"
        srcset="/assets/images/services/briefing.webp 1x, /assets/images/services/briefing@2x.webp 2x"
      />
      <img
        class="achievement__img"
        src="/assets/images/services/briefing.jpg"
        alt="Employees at a briefing"
        srcset="/assets/images/services/briefing@2x.jpg 2x"
        width="746"
        height="365"
      />
    </picture>
    <div class="achievement__inner">
      <span class="achievement__name">construction consultant</span>
      <p class="achievement__text"
        >Customize your interior design into a dream place with the best designers and quality furniture. We try our
        best to fulfill your expectations.</p
      >
    </div>
  </li>
</ul>
