<form class="contact-form" action="" method="post">
  <div class="contact-form__wrapper">
    <div class="contact-form__inner">
      <label class="contact-form__field">
        <span class="contact-form__label">First Name</span>
        <input id="first-name" class="contact-form__input" name="first-name" type="text" placeholder="First Name" />
      </label>
      <label class="contact-form__field">
        <span class="contact-form__label">Last Name</span>
        <input id="last-name" class="contact-form__input" name="last-name" type="text" placeholder="Last Name" />
      </label>
    </div>
    <label class="contact-form__field">
      <span class="contact-form__label">Email</span>
      <input id="email" class="contact-form__input" name="email" type="email" placeholder="Email" />
    </label>
    <label class="contact-form__field">
      <span class="contact-form__label">Phone Number</span>
      <input id="tel-number" class="contact-form__input" name="tel-number" type="tel" placeholder="Phone Number" />
    </label>
    <label class="contact-form__field">
      <span class="contact-form__label">Message</span>
      <textarea
        id="review"
        class="contact-form__input contact-form__input--textarea"
        name="review"
        placeholder="Your Message"
      ></textarea>
    </label>
  </div>
  <button class="contact-form__btn button button--primary" type="submit">Send Massage</button>
</form>
