<h2 class="location__header h2">Locaction</h2>
<div class="location__wrapper">
  <div class="location__inner">
    <h3 class="location__subheader h3">Visit Our Stores</h3>
    <p class="location__text">Find us at these locations.</p>
    <address class="location__contacts contacts">
      <ul class="contacts__list">
        <li class="contacts__item">
          <span class="contacts__name">Email</span>
          <a class="contacts__link" href="mailto:dananz@gmail.com">dananz@gmail.com</a>
        </li>
        <li class="contacts__item">
          <span class="contacts__name">Phone</span>
          <a class="contacts__link" href="tel:+628150021000">+62 815 002 1000</a>
        </li>
      </ul>
    </address>
  </div>
  <address class="location__address address">
    <ul class="address__list">
      <li class="address__item">
        <span class="address__name">Jakarta</span>
        <span class="address__descr"
          >Customize your interior design into a dream place with the best designers and quality furniture. We try our
          best to fulfill your expectations.</span
        >
      </li>
      <li class="address__item">
        <span class="address__name">Surakarta</span>
        <span class="address__descr"
          >Customize your interior design into a dream place with the best designers and quality furniture. We try our
          best to fulfill your expectations.</span
        >
      </li>
      <li class="address__item">
        <span class="address__name">Yogyakarta</span>
        <span class="address__descr"
          >Customize your interior design into a dream place with the best designers and quality furniture. We try our
          best to fulfill your expectations.</span
        >
      </li>
      <li class="address__item">
        <span class="address__name">Bandung</span>
        <span class="address__descr"
          >Customize your interior design into a dream place with the best designers and quality furniture. We try our
          best to fulfill your expectations.</span
        >
      </li>
    </ul>
  </address>
</div>
