<h2 class="advantages__header h2">SERVICE</h2>
<p class="advantages__subheader h3">Why choose us</p>
<p class="advantages__text"
  >Customize your interior design into a dream place with the best designers and quality furniture. We try our best to
  fulfill your expectations.</p
>
<ul class="advantages__list">
  <li class="advantages__item">
    <span class="advantages__name">High Quality</span>
    <p class="advantages__descr"
      >Customize your interior design into a dream place with the best designers and quality furniture. We try our best
      to fulfill your expectations.</p
    >
  </li>
  <li class="advantages__item">
    <span class="advantages__name">Professional Designer</span>
    <p class="advantages__descr"
      >Customize your interior design into a dream place with the best designers and quality furniture. We try our best
      to fulfill your expectations.</p
    >
  </li>
  <li class="advantages__item">
    <span class="advantages__name">The Best Services</span>
    <p class="advantages__descr"
      >Customize your interior design into a dream place with the best designers and quality furniture. We try our best
      to fulfill your expectations.</p
    >
  </li>
</ul>
