<h2 class="overview__header visually-hidden">Let's look at the minimast project</h2>
<div class="overview__descr">
  <p class="overview__subheader">Project Overview</p>
  <p class="overview__text"
    >Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
    Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
    Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
  </p>
</div>
<div class="overview__process">
  <p class="overview__subheader">Design Process</p>
  <p class="overview__text"
    >Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
    Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
  </p>
</div>
<div class="overview__gallery">
  <picture>
    <source
      type="image/webp"
      srcset="/assets/images/minimalist/minimalist-1.webp 1x, /assets/images/minimalist/minimalist-1.webp 2x"
    />
    <img
      class="overview__img"
      src="/assets/images/minimalist/minimalist-1.jpg"
      alt=""
      srcset="/assets/images/minimalist/minimalist-1@2x.jpg 2x"
      width="584"
      height="513"
    />
  </picture>
</div>
<div class="overview__gallery">
  <picture>
    <source
      type="image/webp"
      srcset="/assets/images/minimalist/minimalist-2.webp 1x, /assets/images/minimalist/minimalist-2.webp 2x"
    />
    <img
      class="overview__img"
      src="/assets/images/minimalist/minimalist-2.jpg"
      alt=""
      srcset="/assets/images/minimalist/minimalist-2@2x.jpg 2x"
      width="584"
      height="513"
    />
  </picture>
</div>
<div class="overview__gallery overview__gallery--big">
  <picture>
    <source
      type="image/webp"
      srcset="/assets/images/minimalist/minimalist-3.webp 1x, /assets/images/minimalist/minimalist-3.webp 2x"
    />
    <img
      class="overview__img"
      src="/assets/images/minimalist/minimalist-3.jpg"
      alt=""
      srcset="/assets/images/minimalist/minimalist-3@2x.jpg 2x"
      width="1200"
      height="513"
    />
  </picture>
</div>
<div class="overview__gallery">
  <picture>
    <source
      type="image/webp"
      srcset="/assets/images/minimalist/minimalist-4.webp 1x, /assets/images/minimalist/minimalist-4.webp 2x"
    />
    <img
      class="overview__img"
      src="/assets/images/minimalist/minimalist-4.jpg"
      alt=""
      srcset="/assets/images/minimalist/minimalist-4@2x.jpg 2x"
      width="584"
      height="513"
    />
  </picture>
</div>
<div class="overview__gallery">
  <picture>
    <source
      type="image/webp"
      srcset="/assets/images/minimalist/minimalist-5.webp 1x, /assets/images/minimalist/minimalist-5.webp 2x"
    />
    <img
      class="overview__img"
      src="/assets/images/minimalist/minimalist-5.jpg"
      alt=""
      srcset="/assets/images/minimalist/minimalist-5@2x.jpg 2x"
      width="584"
      height="513"
    />
  </picture>
</div>
