<div class="furniture__inner">
  <h2 class="furniture__header h2">SERVICE</h2>
  <p class="furniture__subheader h3">attractive furniture with the best quality.</p>
  <p class="furniture__text"
    >Customize your interior design into a dream place with the best designers and quality furniture. We try our best to
    fulfill your expectations.</p
  >
  <ul class="furniture__list">
    <li class="furniture__item">
      <span>Interior Design</span>
      <a class="furniture__link" href="#" aria-label="Go to page">
        <svg class="furniture__icon" aria-hidden="true" width="32" height="32" viewBox="0 0 32 32" focusable="false">
          <use xlink:href="/assets/images/svg/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </li>
    <li class="furniture__item">
      <span>Consultant</span>
      <a class="furniture__link" href="#" aria-label="Go to page">
        <svg class="furniture__icon" aria-hidden="true" width="32" height="32" viewBox="0 0 32 32" focusable="false">
          <use xlink:href="/assets/images/svg/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </li>
    <li class="furniture__item">
      <span>Construction Consultant</span>
      <a class="furniture__link" href="#" aria-label="Go to page">
        <svg class="furniture__icon" aria-hidden="true" width="32" height="32" viewBox="0 0 32 32" focusable="false">
          <use xlink:href="/assets/images/svg/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
<picture>
  <source type="image/webp" srcset="/assets/images/home/furniture.webp 1x, /assets/images/home/furniture@2x.webp 2x" />
  <img
    class="furniture__img"
    src="/assets/images/home/furniture.jpg"
    alt="Furniture design"
    srcset="/assets/images/home/furniture@2x.jpg 2x"
    width="1076"
    height="525"
  />
</picture>
