<h2 class="product__header h2">PRODUCT</h2>
<div class="product__inner">
  <p class="product__subheader h3">Choose your product themes.</p>
  <p class="product__text"
    >Find the theme you want. If our choice of theme is not what you want, you can customize it as you want.</p
  >
</div>
<ul class="product__list">
  <li class="product__item">
    <span>Vintage</span>
    <a class="product__link" href="#" aria-label="Go to Vintage Room">
      <svg class="product__icon" aria-hidden="true" width="32" height="32" viewBox="0 0 32 32" focusable="false">
        <use xlink:href="/assets/images/svg/sprite.svg#arrow-right"></use>
      </svg>
    </a>
    <p class="product__item-description"
      >the use of simple and limited elements to get the best effect or impression.</p
    >
  </li>
  <li class="product__item">
    <span>Minimalist</span>
    <a class="product__link" aria-label="Go to Minimalist Room" routerLink="/minimalist">
      <svg class="product__icon" aria-hidden="true" width="32" height="32" viewBox="0 0 32 32" focusable="false">
        <use xlink:href="/assets/images/svg/sprite.svg#arrow-right"></use>
      </svg>
    </a>
    <p class="product__item-description"
      >the use of simple and limited elements to get the best effect or impression.</p
    >
  </li>
  <li class="product__item">
    <span>Modern</span>
    <a class="product__link" href="#" aria-label="Go to Modern Room">
      <svg class="product__icon" aria-hidden="true" width="32" height="32" viewBox="0 0 32 32" focusable="false">
        <use xlink:href="/assets/images/svg/sprite.svg#arrow-right"></use>
      </svg>
    </a>
    <p class="product__item-description"
      >the use of simple and limited elements to get the best effect or impression.</p
    >
  </li>
  <li class="product__item">
    <span>Transitional</span>
    <a class="product__link" href="#" aria-label="Go to Transitional Room">
      <svg class="product__icon" aria-hidden="true" width="32" height="32" viewBox="0 0 32 32" focusable="false">
        <use xlink:href="/assets/images/svg/sprite.svg#arrow-right"></use>
      </svg>
    </a>
    <p class="product__item-description"
      >the use of simple and limited elements to get the best effect or impression.</p
    >
  </li>
</ul>
