<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" routerLink="/home" routerLinkActive="nav__link--active">Home</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" routerLink="/about" routerLinkActive="nav__link--active">About Us</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" routerLink="/services" routerLinkActive="nav__link--active">Services</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" routerLink="/team" routerLinkActive="nav__link--active">Our Teams</a>
    </li>
    <li class="nav__item">
      <a class="button button--primary" routerLink="/contact">Contact Us</a>
    </li>
  </ul>
</nav>
