<h2 class="designers__header h2">Designer</h2>
<p class="designers__subheader h3">Creative Person</p>
<p class="designers__text"
  >Customize your interior design into a dream place with the best designers and quality furniture. We try our best to
  fulfill your expectations.</p
>
<ul class="designers__list">
  <li *ngFor="let item of list" class="designers__item">
    <img class="designers__avatar" alt="CEO Shoo Phar Dhie photo" width="282" height="386" [src]="item" />
    <div class="designers__inner">
      <span class="designers__name">Shoo Phar Dhie</span>
      <span class="designers__position">CEO</span>
    </div>
  </li>
</ul>
