$rootPath: '/assets/fonts/';

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url($rootPath + 'Poppins-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url($rootPath + 'Poppins-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url($rootPath + 'Poppins-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url($rootPath + 'Poppins-SemiBold.woff') format('woff');
  font-display: swap;
}
